* {
  box-sizing: border-box;
}

/*Картина*/
.center {
  text-align: center;
}

.img {
  margin: 10px;
  width: auto;
  height: 200px;
}

h1 {
  color: orange;
  font-size: 24px;
  font-weight: lighter;
}

h2 {
  color: #39c6b9;
  font-size: 24px;
  font-weight: lighter;
}

/*Кнопка возвращения и название игры*/
.top-menu {
  position: relative;
  background: rgba(34,34,34,.2);
}
.menu-main {
  background-image: url('img/Landscape.jpg');
  background-size: 100%;
  list-style: none;
  min-width: 640px;
  margin: 0;
  padding: 0;
}

.menu-main_2::after,
.menu-main:after {
  content: "";
  display: table;
  clear: both;
}

.bottom-item {
  float: bottom;
  font-size: 30px;
}

.menu-main_2 {
  background-image: url('img/Landscape.jpg');
  list-style: none;
  background-size: 100%;
  min-width: 640px;
  margin: 0;
  padding: 0;
}

.menu-main_2 a:hover:not(.name) {background: rgba(0,0,0,.3);}
@media (max-width: 830px) {
.menu-main_2 {
  padding-top: 90px;
  text-align: center;
}

.menu-main_2 li {
  float: none;
  display: inline-block;
}

.menu-main_2 a {
  line-height: normal;
  padding: 20px 15px;
  font-size: 16px;
}
}

@media (max-width: 630px) {
  .menu-main_2 li {display: block;}
  }

.left-item {float: left;}
.right-item {float: right;}
.navbar-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.menu-main_2 .name,
.menu-main .name {
  text-decoration: none;
  display: block;
  line-height: 80px;
  padding: 0 20px;
  font-size: 30px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: orange;
  transition: .3s linear;
}

.menu-main_2 a,
.menu-main a {
  text-decoration: none;
  display: block;
  line-height: 80px;
  padding: 0 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: white;
  transition: .3s linear;
}

.menu-main a:hover:not(.name) {background: rgba(0,0,0,.3);}
@media (max-width: 830px) {
.menu-main {
  padding-top: 90px;
  text-align: center;
}

.navbar-logo {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}

.menu-main li {
  float: none;
  display: inline-block;
}

.menu-main a {
  line-height: normal;
  padding: 20px 15px;
  font-size: 16px;
}
}

@media (max-width: 630px) {
.menu-main li {display: block;}
}

h1 {
    text-align:center;
}

/*Страница*/
.container {
    width:90%;
    margin: auto;
}

.fon { 	
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('img/Cold.jpg')
}

.game {
  margin-top: 30px;
  font-size: 70px;
  color: orange;
}

.page {
  display: flex;
  flex-direction: column;
  min-width: 640px;
  min-height: 100vh;
  margin: 0;
  font-family: "Verdana", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: red;
}

/*Описание игры*/
p {
  padding: 10px;
}

.content {
  width: 800px;
  margin: 20px auto;
  z-index: 20;
  font: normal normal 14px/20px Arial, Georgia, "Times New Roman", Times, serif;
}

.clr {
  clear: both;
}

.post {
  background: #F5F5F5;
  width: 100%;
  padding: 20px;
  float: left;
}
.description {
  color: #252736;
  font-family: Calibri Light;
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
}

/*Подвал*/
.page-footer {
  background-size: 100%;
  margin-top: auto;
  background-image: url('img/Grass.jpg');
}

.page-footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 14px;
}

.page-footer p {
  color:turquoise;
  margin: 0;
  padding: 0;
}
